# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: EUPL-1.2

.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.metadata
.classpath
.project
.settings
.springBeans
target
Servers
logs
*.log
generated
MANIFEST.MF
test-output
.factorypath

### VS Code ###
.vscode/

# Intelij
*.iml
.idea
out

megalinter-reports
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
